@import url('https://fonts.googleapis.com/css?family=Quattrocento');

body {
  background: rgb(86,86,86);
}

#yAxisLabel, #title, #subtitle, #y-axis, #x-axis, #legend {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Quattrocento, arial;
}